<!-- todos/templates/todos/base.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}My App{% endblock %}</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding-top: 60px;
            background-color: #7a5b45;
            color: #000000;
        }

        header {
            background-color: #000000;
            padding: 10px 0;
            color: white;
            text-align: center;
        }

        nav {
            background-color: #212529;
            padding: 10px 0;
            text-align: center;
            /* Center the links */
        }

        nav a {
            display: inline-block;
            /* Make links display in a line */
            color: #e2d2b0;
            margin: 0 15px;
            /* Add margin to create space between links */
            text-decoration: none;
        }

        .container {
            margin-top: 20px;
            background-color: #e2d2b0;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #7a5b45;
        }

        a {
            color: #000000;
        }

        table {
            width: 100%;
            margin-top: 20px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }

        th {
            background-color: #000000;
            color: #e2d2b0;
        }
    </style>
    {% block extra_styles %}{% endblock %}
</head>

<body>
    <header>
        <h1>My Todo App</h1>
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'todos:logout' %}">Logout</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'todos:signup' %}">Sign Up</a>
        <a class="btn btn-primary" href="{% url 'todos:login' %}">Login</a>
        {% endif %}
    </header>

    <nav>
        <a href="{% url 'todos:todo_list_list' %}">My Lists</a>
        <a href="{% url 'todos:todo_list_create' %}">Create a new list</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    {% block extra_scripts %}{% endblock %}
</body>

</html>