{% extends 'todos/base.html' %}

{% block title %}My Lists{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Create a new List</title>
</head>

<body>
    <h1>Create a new List</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
</body>

</html>
{% endblock %}