{% extends 'todos/base.html' %}

{% block title %}My Lists{% endblock %}

{% load static %}

<!DOCTYPE html>
<html>
{% block content %}
<main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <p><a href="{% url 'todos:todo_list_update' id=todo_list.id %}">Edit</a></p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for task in todo_items %}
                <tr>
                    <td><a href="{% url 'todos:todo_list_update' id=task.id %}">{{ task.task }}</a></td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}

</html>