{% extends 'todos/base.html' %}

{% block title %}My Lists{% endblock %}

{% block content %}
<main class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h1>My Lists</h1>
            <a class="btn btn-primary" href="{% url 'todos:todo_list_create' %}">Create a new list</a>
            <table class="table mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of items</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo_list in todo_lists %}
                    <tr>
                        <td><a href="{% url 'todos:todo_list_detail' todo_list.id %}">{{ todo_list.name }}</a></td>
                        <td>{{ todo_list.items.count }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm"
                                href="{% url 'todos:todo_list_update' todo_list.id %}">Edit</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No todo lists found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}