{% extends 'base.html' %}

{% block title %}Log Out{% endblock %}

{% block content %}
<h2>Logged Out Successfully</h2>
<p>Thank you for using our application. You have been successfully logged out.</p>
{% endblock %}