{% extends 'todos/base.html' %}

{% block title %}My Lists{% endblock %}

{% block content %}
<main>
    <h1>Edit Todo List</h1>
    <div>
        <p><a href="{% url 'todos:todo_list_update' id=todo_list.id %}">Edit</a></p>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save changes</button>
    </form>
</main>
{% endblock %}